@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'NanumSquareNeo';
	background-color: black;
}
h1{
	font-size: 72px;
}
h2{
	margin-left: 30px;
	margin-bottom: 12px;
}
a{
	text-decoration: none;
}

#container
{
	height: 100%;
	display: flex;
	color: #c2c2c2;
}

#sideBar
{
	width: 7%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #161616;
	position: fixed;
	font-size: 14px;
}
#sideBar a{
	color: #c2c2c2;
}

.logo{
	text-align: center;
	position: absolute;
	top: 1%;
}
.btnImg{
	text-align: center;
}
.btnImg a{
	display: block;
	padding-top: 25%;
	padding-bottom: 22%;
}
.btnImg a:hover{
	background-color: black;
}
.active{
	background-color: black;
	border-right: 2px solid red;
}
#loginout{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 3%;
}
#loginout a{
	font-size: 16px;
}
#insertUser{
	margin-bottom: 10px;
}


#subContainer
{
	width: 93%;
	height: 100%;
	display: flex;
	position: fixed;
	right: 0;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
}
#subContainer::-webkit-scrollbar{
	width: 10px;
}
#subContainer::-webkit-scrollbar-thumb{
	height: 30%;
	background: #c2c2c2;
	border-radius: 10px;
}
#subContainer::-webkit-scrollbar-track{
	background: #161616;
}

.table{
	border-collapse:collapse;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
}
.table a{
	color: #c2c2c2;
}
span{
	font-size: 14px;
}

.chartHeader{
	margin-left: 50px;
	margin-top: 25px;	
}
.chartHeader a{
	font-size: 20px;
}

th{
	background-color: #c2c2c2;
	color: black;
}
tr,th,td{
	padding: 5px;
}

#subContainer2
{
	height: 100%;
}


.movieImg a img{
	width: 154px;
	height: 215px;
	margin-right: 15px;
	margin-bottom: 10px;
	transition: all 0.2s linear;
}
.movieImg a:hover img{
	transform: scale(1.1);
}

#footer
{
	clear: both;
	width: 100%;
}
