@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'NanumSquareNeo';
	background-color: black;
}
h1{
	font-size: 72px;
}
h2{
	margin-left: 30px;
	margin-bottom: 12px;
}
a{
	text-decoration: none;
}

#container
{
	height: 100%;
	display: flex;
	color: #c2c2c2;
}

#sideBar
{
	width: 7%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #161616;
	position: fixed;
	font-size: 14px;
}
#sideBar a{
	color: #c2c2c2;
}

.logo{
	text-align: center;
	position: absolute;
	top: 1%;
}
.btnImg{
	text-align: center;
}
.btnImg a{
	display: block;
	padding-top: 25%;
	padding-bottom: 22%;
}
.btnImg a:hover{
	background-color: black;
}
.active{
	background-color: black;
	border-right: 2px solid red;
}
#loginout{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 3%;
}
#loginout a{
	font-size: 16px;
}
#insertUser{
	margin-bottom: 10px;
}

#subContainer1
{
	width: 93%;
	height: 100%;
	display: flex;
	position: fixed;
	right: 0;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
}
#subContainer1::-webkit-scrollbar{
	width: 10px;
}
#subContainer1::-webkit-scrollbar-thumb{
	height: 30%;
	background: #c2c2c2;
	border-radius: 10px;
}
#subContainer1::-webkit-scrollbar-track{
	background: #161616;
}

#main
{
	position: relative;
	width: 100%;
}
.video-box{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 비율 */
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mainInfo
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
    left: 0;
}

#header{
	width: 100%;
	height: 45%;
	position: absolute;
	bottom: 0;
    left: 0;
    padding-left: 30px;
    overflow: hidden;
    background: linear-gradient(to top, black, black 30%, transparent);
}
#title{
	font-family: 'NanumSquareNeoHeavy';
}
#facts{
	margin-top: 15px;
	font-family: 'NanumSquareNeoExtraBold';
}
#facts span{
	margin-right: 5px;
}
#facts a{
	font-size: 16px;
	margin-right: 7px;
}
#overview{
	margin-top: 15px;
	font-size: 20px;
	width: 33%;
	height: 88px;
    overflow : hidden;
    text-overflow : ellipsis;
    display : -webkit-box;
    -webkit-line-clamp : 4;
    -webkit-box-orient : vertical;
}
#btns{
	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	line-height: 40px;
}
.divBtn a{
	color: black;
}
#firstNo{
	width: 230px;
	height: 40px;
	margin-right: 10px;
	border: 0px solid #161616;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	font-size: 18px;
}
#firstInfo{
	width: 120px;
	height: 40px;
	border: 0px solid #161616;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	background-color: #c2c2c2;
}
#topBar
{
	width: 100%;
	height: 30%;
	position: absolute;
	top: 0;
    left: 0;
	background: linear-gradient(to bottom, black, black 45%, transparent);
}
#bottomBar
{
	width: 100%;
	height: 8.7%;
	position: absolute;
	bottom: 0;
    left: 0;
	background-color: black;
}

#subContainer2
{
	height: 100%;
}
#boxOffice10
{
	margin: 0px 30px 30px 30px;
	display: flex;
	flex-direction: row;
	overflow-x:auto;
}
#boxOffice10:hover{
	cursor: pointer;
}
#boxOffice10::-webkit-scrollbar{
	width: 5px;
	height: 12px;
}
#boxOffice10::-webkit-scrollbar-thumb{
	height: 10%;
	background: #c2c2c2;
	border-radius: 10px;
}
#boxOffice10::-webkit-scrollbar-track{
	background: #161616;
}
.boxDetail{
	line-height: 50%;
}

#upcoming
{
	margin: 0px 30px 30px 30px;
	display: flex;
	flex-direction: row;
	overflow-x:auto;
}
#upcoming:hover{
	cursor: pointer;
}
#upcoming::-webkit-scrollbar{
	width: 5px;
	height: 12px;
}
#upcoming::-webkit-scrollbar-thumb{
	height: 10%;
	background: #c2c2c2;
	border-radius: 10px;
}
#upcoming::-webkit-scrollbar-track{
	background: #161616;
}

.movieImg a img{
	width: 213px;
	height: 303px;
	margin-right: 20px;
	margin-bottom: 20px;
	transition: all 0.2s linear;
}
.movieImg a:hover img{
	transform: scale(1.1);
}

#footer
{
	clear: both;
	width: 100%;
}
